.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #f9f9f9;
}

.header__image {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    border: 10px solid #1b1b1b; 
    
}
.header__imagep {
    font-size: 16pt;
    display: flex;
    font-weight: bold;
    color: 10px solid #1b1b1b; 
    
}
.headerIcons {
    padding: 20px;
    cursor: pointer;
}